@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue.eot?') format('eot'), url('../fonts/bebasneue.woff') format('woff'), url('../fonts/bebasneue.ttf') format('truetype');
}
body {
	font-family: "Roboto Slab"
}

/* ============================ */
/* Header						*/
/* ============================ */
.header {
	box-shadow: 0 0px 1em 0px rgba(0,0,0,0.2);
	background:#fff;
	position: relative;
	width:100%;
	z-index: 2;
}
.header-maxwidth {
	width:97%;
	max-width: 1280px;
	margin: 0 auto;
	display: table;
}
.header-maxwidth>nav,.header-maxwidth>.header-logo {
	display: table-cell;
	vertical-align: middle;
}
.header-logo {
	width:7%;
}
.header-logo a {
	display: block;
	background: url("../images/logo.png") no-repeat center;
	background-size: contain;
	padding-bottom:82%; /* aspect ratio of logo */
}
.header nav {
	width:93%;
	text-align: right;
}
.header nav ul li {
	display: inline-block;
	padding: 1em 0 1em 1em;
	font-family: "Bebas Neue";
	font-size: 1.5em;
}

/* ============================ */
/* Main 						*/
/* ============================ */
.main-section {
	background:#f9f9f9;
	position: relative;
}
.progress {
	display:table;
	width:100%;
	background:#fafafa;
	position: relative;
	font-size: 0.8em;
	box-shadow: 0 0px 1em 0px rgba(0,0,0,0.3);
	z-index: 1;
}
.progress ul {
	width:100%;
	display:table-row;
}
.progress li {
	display:table-cell;
}
.progress li p {
	width:10em;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding:0.6em;
	text-transform: uppercase;
}
.design-1 {
	background:url("../images/cut-bg.jpg") no-repeat;
	background-size: cover;
	padding:4em;
}
.design-1 .cut-intro {
	width:97%;
	max-width: 600px;
	margin:0 auto;
	text-align: center;
}
.design-1 .cut-wrapper ul li {
	display: inline-block;
	width:50%;
	transition:opacity 0.3s;
}
.design-1 .cut-wrapper ul:hover li {
	opacity: 0.5;

}
.design-1 .cut-wrapper ul:hover li:hover {
	opacity: 1;
}
.design-1 .cut-wrapper ul li div {
	display: inline-block;
	vertical-align: middle;
}

.design-1 .cut-wrapper ul li a {
	display: block;
	padding:0.9em;
	background:#00af2c;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	transition:background 0.3s;
}
.design-1 .cut-wrapper ul li a:hover {
	background: #009f1c;
}
.design-1 .cut-wrapper li div.cut-image {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 61%;
    width:55%;
}
.design-1 .cut-wrapper ul li div.cut-description {
	width:44%;
}
.design-1 .cut-wrapper li:first-child div.cut-image {
    background-image: url(../images/fitzroy.png);
    background-position: right;
}
.design-1 .cut-wrapper li:last-child div.cut-image {
    background-image: url(../images/lygonst.png);
    background-position: left;
}
.right-col {
	position: fixed;
	top:0;
	right:0;
	width:38.196%;
	height:100%;
	background:url("../images/cut-bg.jpg") no-repeat top;
	background-size: 100% 100%;
}
.left-col {
	margin-right: 38.196%;
	position: relative;
	min-height: 900px; /*SET THIS MANUALLY*/
	overflow-x:hidden;
}
.left-col .design-screen {
	padding: 5%;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: left 0.5s ease-in-out;
	box-sizing: border-box;
	left: -100%;
}
.left-col .design-screen.active {
	left:0;
}
.left-col .design-screen.active~.design-screen {
	padding: 5%;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: left 0.5s ease-in-out;
	box-sizing: border-box;
	left: 100%;
}
.left-col .design-screen p a {
	font-weight: bold;
	color:#00af2c;
	text-decoration: underline;
}
.left-col .design-screen p a:hover {
	text-decoration: none;
}
.main-section h1 {
	font-family: "Bebas Neue";
	font-size: 2.75em;
}
.main-section p {
    padding: 0.5em 0 1em 0;
}
.main-section form {
    padding-left: 7%;
}
.main-section label {
    text-transform: uppercase;
    width:100%;
    display: inline-block;
    line-height: 3em;
}
.main-section label * {
    vertical-align: middle;
}
.main-section label span.title {

}

.main-section label span.value {
    font-size: 1.5em;
    margin-left:0.5em;
    color:#00af2c;
}
.main-section label span.desc {
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 0.5em;
}
.main-section label span.value::after {
    content:'"';
}
.main-section input[type="range"] {
    width: 60%;
}
.main-section .navigation-buttons {
	text-align: right;
}
.main-section .navigation-buttons div {
	display: inline-block;
}
.main-section .navigation-buttons div a {
    display: inline-block;
    color: #fff;
    padding: 0.9em;
    width: 9em;
    text-align: center;
    font-weight: 700;
    margin-top: 0.5em;
    transition: background 0.3s;
    margin-left: 0.5em;
}
.main-section .next-btn a {
	background:#00af2c;
}
.main-section .next-btn a:hover {
	background:#009f1c;
}
.main-section .prev-btn a {
    background: #c6c6c6;
}
.main-section .prev-btn a:hover {
	background:#b6b6b6;
}
/*Slider */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  /*background: #dddddd;*/
  border-radius: 3px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 4px solid #00af2c;
  height: 3em;
  width: 3em;
  border-radius: 3em;
  background: url("../images/slider-thumb.png");
  background-size: contain;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.5em;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #dddddd;*/
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #dddddd;
  border-radius: 3px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 4px solid #00af2c;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: url("../images/slider-thumb.png");
  background-size: contain;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #dddddd;
  border: 0px solid #010101;
  border-radius: 3px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #dddddd;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 4px solid #00af2c;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background-image: url("../images/slider-thumb.png");
  background-size: contain;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #dddddd;
}
input[type=range]:focus::-ms-fill-upper {
  background: #dddddd;
}

/* ============================ */
/* Splash						*/
/* ============================ */
.masthead {
	background:url("../images/masthead.jpg") left no-repeat;
	background-size: cover;
	padding:29% 5% 3% 0;
	color:#fff;
	text-align: right;
	font-size: 1vw;
}
.masthead p {
	font-size: 1.875em;
	width: 20em;
    margin: 0 0 0 auto;
    line-height: 1.2;
}
.masthead a {
	display: block;
	font-size: 1.875em;
	background:#00af2c;
	padding:0.7em;
	width:12em;
	text-align: center;
	margin:0 0 0 auto;
	transition:background 0.3s;
	text-transform: uppercase;
}
.masthead a:hover {
	background: #009f1c;
}

/* ============================ */
/* Denim/Thread Select					*/
/* ============================ */
.img-option {
	display: inline-block;
	border: 1px solid #aaa;
	width: 29%;
	margin: 1em 1%;
	vertical-align: top;
	position: relative;
    transition: box-shadow 0.3s;
    box-sizing:border-box;
}

.img-option:not(.sold-out):not(.selected):hover {
	box-shadow: 0px 5px 10px #ccc;
}
.img-option.sold-out {
	opacity: 0.5;
}
.img-option.popular h2::after {
    content: " POPULAR";
    font-size: 0.4em;
    color: #B07C4B;
    font-family: Roboto Slab;
    font-weight: 700;
}
.img-option .product-img {
    background: url("../images/dark-blue.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 67%;
    border-bottom: 1px solid #aaa;
}
.img-option .description {
    padding: 0.8em 0.5em 0 0.5em;
    line-height: 1;
    box-sizing: border-box;
}
.img-option .description h2 {
    font-family: "Bebas Neue";
    font-size: 1.8em;
}
.img-option .description p {
    min-height:2em;
}
.sold-out h2::after {
    content: " SOLD OUT";
    font-family: Roboto Slab;
    font-size: 0.4em;
    font-weight: 800;
    color: #B40606;
}
.img-option > a {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	box-sizing:border-box;
}
.img-option.selected > a {
	border: 3px solid #00af2c;
}

/* ============================ */
/* Overview			 			*/
/* ============================ */
.strikethrough {
	text-decoration: line-through;
	color:#a00;
	font-size: 2em;
}
.price {
	color:#00af2c;
	font-size: 3em;
}
sup {
    font-size: 0.6em;
    vertical-align: super;
}
strong {
	font-weight: bold;
}
#product-form {
	padding:0;
	display: inline-block;
}
.guarantees {

}
.guarantees div {
	display: inline-block;
	width:48%;
	vertical-align: middle;
}
.guarantees div div {
	display: inline-block;
	width:48%;
	vertical-align: middle;
}
.guarantees div .g-img {
	width:30%;
}
.guarantees div .g-img img {
	width:100%;
}
.guarantees div .g-description {
	width:65%;
}
.guarantees div .g-description h3 {
	font-weight: bold;
}
img.cards {
    display: block;
    margin-left: auto;
    width: 21em;
    margin: 1em 0 4em auto;
}
.purchase-item {
    border: solid 1px #ddd;
    font-size: 0.9em;
}
.purchase-item div {
    display: inline-block;
    vertical-align: middle;
}
.purchase-item .item-img {
    width: 15%;
    background:url("../images/dark-blue.jpg");
    background-size: cover;
    padding-bottom: 14%;
    margin-right: 2%;
    opacity: 0.5;
}
.purchase-item .item-desc {
    width: 62%;
}
.purchase-item .item-desc .item-title{
    font-size:1.25em;
    font-weight: bold;
}
.purchase-item .item-price {
    width: 19%;
}
p.your-email {
	margin:1em 0;
}
/* ============================ */
/* Stripe Checkout btn 			*/
/* ============================ */
button.stripe-button-el {
    background: #00af2c !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-size: 1em !important;
}
.stripe-button-el span {
    background: #00af2c !important;
    border-radius: 0 !important;
    border: none !important;
    text-transform: uppercase !important;
    font-family: Roboto slab !important;
    width:10em;
    padding: 0.5em 2em !important;
    font-size: 1em !important;
}

/* ============================ */
/* Footer						*/
/* ============================ */
.footer {
	background: #454c58;
	color:#fff;
	font-size: 0.75em;
	z-index: 1;
	position: relative;
}
.footer-maxwidth {
	width:97%;
	max-width: 1280px;
	margin: 0 auto;
	display:table;
}
.footer-trademark, .footer-legals {
	display: table-cell;
	width:50%;
}
.footer-legals {
	text-align: right;
}
.footer-legals ul li {
	display: inline-block;
	padding:1.8em 0 1.8em 2em;
}
.footer-legals ul li a {
	text-decoration: none;
}
.footer-legals ul li a:hover {
	text-decoration: underline;
}